@model Mango.WEB.Areas.Stock.Models.Stock.IndexViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Stock Management";
}

<div class="container-fluid pt-3 pb-1">
    <div class="jumbotron text-center text-dark" style="background-color: #8995c4">
        <h1 class="display-4 font-weight-bold">@ViewData["Title"].</h1>
        <p class="lead font-weight-normal">Manage, track and keep your stocks organised. Setup notifications of missing or running-low items.</p>
    </div>

    <div class="jumbotron bg-light pt-4" style="background-color: #2479a6">
        <div class="d-flex">
            <h3 class="mr-2">My Kitchens <i id="tooltipKitchens" class="fas fa-question-circle text-muted" data-toggle="tooltip" data-placement="bottom" title="The list of kitchens that you can move stocks into/out of"></i></h3>
        </div>

        <div id="kitchens" class="my-2">
            @if (Model.Kitchens != null && Model.Kitchens.Count > 0)
            {
                <div class="d-flex flex-wrap align-items-stretch">
                    @foreach (var kitchen in Model.Kitchens)
                    {
                        <div class="card rounded-0 mr-3 mb-3">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title text-center">@(!string.IsNullOrWhiteSpace(kitchen.Name) ? kitchen.Name : "Unnamed kitched")</h5>
                                <p class="card-text text-center">@(!string.IsNullOrWhiteSpace(kitchen.Description) ? kitchen.Description : "No description")</p>
                                <hr />
                                @if (!string.IsNullOrWhiteSpace(kitchen.Floor))
                                {
                                    <p class="card-text"><strong>Floor: </strong>@kitchen.Floor</p>
                                }

                                @if (!string.IsNullOrWhiteSpace(kitchen.Address))
                                {
                                    <p class="card-text"><strong>Address: </strong>@kitchen.Address</p>
                                }

                                <div class="d-flex mt-auto">
                                    <a href="#" class="editStocks btn btn-success mr-2">Edit Kitchen Stocks</a>
                                    <a class="editLocation text-white btn btn-secondary mr-2" data-url='@Url.Action("UpdateModal", "Location", new { Area = "Stock" })' data-locationuid="@kitchen.UID" data-toggle="tooltip" data-placement="bottom" title="Edit kitchen details"><i class="fas fa-edit"></i></a>
                                    <a href="#" class="deleteLocation btn btn-outline-danger" data-url='@Url.Action("DeleteModal", "Location", new { Area = "Stock" })' data-locationuid="@kitchen.UID" data-toggle="tooltip" data-placement="bottom" title="Delete kitchen and unassign stocks"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </div>
                        </div>
                    }

                    <a class="createLocation add add--interactive border card rounded-0 mb-3 d-flex justify-content-center align-items-center add add--interactive" data-url='@Url.Action("CreateModal", "Location", new { Area = "Stock" })' style="width: 180px; min-height: 180px">
                        <p href="#" class="add__item"><i class="fas fa-plus-square fa-3x"></i></p>
                    </a>
                </div>
            }
            else
            {
                <p class="lead">You haven't created any kitchen yet. Create one <a class="createLocation lead" href="#" data-url='@Url.Action("CreateModal", "Location", new { Area = "Stock" })'>here</a>.</p>
            }
        </div>
    </div>

    <partial name="_UnassignedStocks" model="@Model.UnassignedStocks" />
</div>

@section Scripts
{
    <environment include="Development">
        <script src="~/js/Areas/Stocks/index.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/Areas/Stocks/index.min.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {
            $.validator.unobtrusive.parse(document);
            $('.toast').toast("show");

            //UnassignedStocks script
            $('#tooltipKitchens').tooltip();
            $('#tooltipUnassignedStocks').tooltip();
        });
    </script>
}