@model Mango.WEB.Areas.Stock.Models.Stock.IndexViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Stock Management";
}

<div class="container-fluid pt-3 pb-1">
    <div class="jumbotron text-center text-dark" style="background-color: #8995c4">
        <h1 class="display-4 font-weight-bold">@ViewData["Title"].</h1>
        <p class="lead font-weight-normal">Manage, track and keep your stocks organised. Setup notifications of missing or running-low items.</p>
    </div>

    <div class="jumbotron bg-light pt-4" style="background-color: #2479a6">
        <div class="d-flex">
            <h3 class="mr-2">My Kitchens</h3>
            @if (Model.Kitchens != null)
            {
                <h3>(@Model.Kitchens.Count)</h3>
            }
        </div>

        <div id="kitchens" class="my-2">
            @if (Model.Kitchens != null && Model.Kitchens.Count > 0)
            {
                <div class="d-flex align-items-stretch">
                    @foreach (var kitchen in Model.Kitchens)
                    {
                        <div class="card rounded-0 mr-3">
                            <div class="card-body">
                                <h5 class="card-title text-center">@(!string.IsNullOrWhiteSpace(kitchen.Name) ? kitchen.Name : "Unnamed kitched")</h5>
                                <p class="card-text text-center">@(!string.IsNullOrWhiteSpace(kitchen.Description) ? kitchen.Description : "No description")</p>
                                <hr />
                                @if (!string.IsNullOrWhiteSpace(kitchen.Floor))
                                {
                                    <p class="card-text"><strong>Floor: </strong>@kitchen.Floor</p>
                                }

                                @if (!string.IsNullOrWhiteSpace(kitchen.Address))
                                {
                                    <p class="card-text"><strong>Address: </strong>@kitchen.Address</p>
                                }

                                <div class="d-flex">
                                    <a href="#" class="editStocks btn btn-success mr-2">Edit Kitchen Stocks</a>
                                    <a href="#" class="editLocation btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Edit kitchen details"><i class="fas fa-edit"></i></a>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="card rounded-0" style="width: 180px;">
                        <div class="card-header h-100 d-flex justify-content-center align-items-center">
                            <a href="#" class="createLocation" data-url='@Url.Action("CreateModal", "Location", new { Area = "Stock" })'><i class="fas fa-plus-square fa-3x"></i></a>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <p class="lead">You haven't created any kitchen yet. Create one <a class="createLocation lead" href="#" data-url='@Url.Action("CreateModal", "Location", new { Area = "Stock" })'>here</a>.</p>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <environment include="Development">
        <script src="~/js/Areas/Stocks/index.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/Areas/Stocks/index.min.js"></script>
    </environment>

    <script>
        $.validator.unobtrusive.parse(document);
        $('.toast').toast("show");
    </script>
}